/*Configura os caracteres para UTF-8*/
@charset "UFT-8";

/*Importa fontes especiais*/
/*Calibri - normal*/
@font-face{
    font-family: 'Calibri';
    src: url('fonts/calibri/calibri-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/*Calibri- bold (negrito)*/
@font-face {
    font-family: 'Calibri';
    src: url('fonts/calibri/calibri-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/*Calibri - italic (itálico)*/
@font-face {
    font-family: 'Calibri';
    src: url('fonts/calibri/calibri-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/*Calibri - bold italic (negrito e itálico)*/
@font-face {
    font-family: 'Calibri';
    src: url('fonts/calibri/calibri-bold-italic.ttf') format('truetype'); 
    font-weight: bold;
    font-style: italic;
}

/*Bauhaus 93*/
@font-face {
    font-family: 'Bauhaus';
    src: url('fonts/Bauhaus/Bauhaus\ 93\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Variáveis dos recursos da página*/
:root {
    /*Cores*/
    --cor-detalhe: #fe3f6c;
    --cor-branco: #FFF;
    --cor-preto: #000000d2;
    --cor-fundo: #EBEBEB;

    /*Fontes*/
    --calibri: "Calibri", "Verdana", sans-serif;
    --bauhaus: "Bauhaus", "Garamond", serif;
}

/*Reseta todos os parâmetros pré-definidos de todos os navegadores*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: var(--calibri);
}


#menu-superior {
    background-color: var(--cor-branco);
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0px;
    box-shadow: 0 0 0 3px var(--cor-detalhe) inset; 
    align-items: center;
    gap:5px;
    
}

#menu-superior a {
    padding: 5px;
    text-align: center;

    font-size: 20px;
    font-weight: bold;
    width: 100px;

    color: var(--cor-branco);
    background-color: var(--cor-detalhe);
    border: var(--cor-detalhe);
    border-radius: 5px;
    text-decoration: none;

    transition: 0.5s;
}

#menu-superior a:hover {
    background-color: var(--cor-fundo);
    color: var(--cor-preto);
}

#nav-off-canvas {
    font-size: 40px;
    cursor: pointer;

}

#menu-lateral {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    background-color: var(--cor-branco);
    box-shadow: 0 0 0 3px var(--cor-detalhe) inset;
    overflow-x: hidden;
    transition: 0.5s;

    padding-top: 20px;
    margin-top: 57px;

}

#menu-lateral a{
    font-weight: 600;
    font-size: 20px;
    color: var(--cor-preto);
    text-decoration: none;

    transition: 0.5s;

}
#menu-lateral a:hover {
    color: var(--cor-detalhe);
}

.elementos-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-top: 1px;
    margin-left: 6px;
    margin-right: 30px;
}

#logo{
    height: 35px;
}

.barra-pesquisa {
    margin-left: auto;
    margin-right: auto;
    
    max-width: 500px; 
    width: 100%; 

    padding: 8px 12px;
    color: var(--cor-branco);
    background-color: var(--cor-preto);
    border-radius: 20px;
}

#principal {
    transition:margin-left .5s;
}

.menu-icon {
    max-width: 30px;
}

#main-frame {
    margin-top: 60px;
    width: 100%;
    height: 100vh;
    border: none;
}